#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div {
    margin: 5px;
    width: 15rem;
    border-radius: 15px;
    /* height: 15rem; */
    border-style: inset;
    border-width: 3px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

/* img{
    width: auto;
}

h4 {
    width: 10rem;
} */

.female {
    background-color: pink;
}

.male {
    /* color: aliceblue; */
    background-color: cyan
}